body {
  background-color: #f0f0f0;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 30px;
  display: inline-block;
  border-radius: 10px;
}
