/* App Global Background */
body {
  background: linear-gradient(135deg, #8e44ad, #3498db);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
