body {
  background-color: #1979ce45; /* Light blue */
}

.card {
  border-radius: 10px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

button {
  font-weight: bold;
}
.weather-container {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
